
<br><br><br><br><div class="head"><h1>Instructions-How to take Quiz</h1>
<br>
<h4>
    1 . Go to home page.
</h4><br>
<h4>
    2 . In home page you can see three puzzles.
</h4><br>
<h4>
    3 . Choose your favourite puzzle and have fun.<br><pre>
        r
        LogicalPuzzle<br>
        MathPuzzle<br>
        NumberPuzzle</pre>
</h4>
<h4>
    4 . Click on puzzle to find the Questions.
</h4><br>
<h4>
    5 . Take your own time and solve the puzzles.No hurry..
</h4><br>
<h4>
    6 . Once you solved click on submit button.And review the answer then you can know whether your is correct and you can check the explanation.
</h4><br>
<h4>
    7 . Finally click on review button to know how many you have answered and how many to be answered. 
</h4><br>
<h4>
    8 . Check the final Result
</h4><br>
<h4>
    9 . Click on close to close the Quiz.And if you are intersted to take the Quiz you can to do that
</h4>
<br>
<h1>Think more..Be smart..Gain attention..Grab Oppurtunities</h1></div>



